ul {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;

  li {
    margin:0 auto 5px;
    padding:10px;
    border:solid 1px #666;
    width:calc(100% - 40px);
  }
}

strong {
  width:30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  border-radius:15px;
  text-align: center;
  text-transform: uppercase;
  background:#CCC;
}

.multiple {
  display: inline-block;
  float: right;
}
