<input
  matInput
  [matDatepicker]="picker"
  placeholder="Choose a date"
  (dateChange)="dateChange('change', $event)"
>
<mat-datepicker-toggle
  matSuffix
  [for]="picker"

></mat-datepicker-toggle>
<mat-datepicker
  #picker
></mat-datepicker>

<ul>
  <li *ngFor="let listElem of listElems">
    <strong>{{ listElem[0].split('_')[1] }}</strong>
    {{ listElem[1] }}
    <span
      *ngIf="listElem[1].split(',').length > 1"
      class="multiple"
    >✓</span>
  </li>
</ul>
